<section class="profile">
  <div class="container">
    <h1>About FlockApp</h1>
    <p>FlockApp is the go-to application for conference organizers, conference speakers, and conference attendees.</p>

    <h2>We Know Conferences</h2>
    <p>We love conferences, we attend conferences, we've spoken at conferences, we've helped organize conferences, and we want to make the process pain free, easy, and most importantly we want to support inclusive, diverse and safe conferences.</p>

    <h2>For Organizers</h2>
    <p>Find out what dates other conferences are happening so you can avoid collision. Find resources for how to make your conference more diverse, inclusive and safe for everyone. We have resources for how to write a Code of Conduct, how to deal with a sexual assault, sexual harassment, or discrimination. Learn how to get great proposals, and how to reach a more diverse group of people to speak at your conference.</p>

    <h2>For Speakers</h2>
    <p>Create a speaker profile to get started. From there you can link to your past talks, upcoming talks, slide decks, videos, and anything else that may be of importance. This isn't just for those who are experienced speakers, make a speaker profile if you're interested in speaking at conferences so conference organizers can find you! We also have a variety of resources for speakers, such as information on how to write a good proposal, how to design slides, and how to give a conference talk. </p>

    <h2>For Conference Attendees</h2>
    <p>Find conferences by location, price, date or topic. You can also search for conferences that are safe on your terms, search to see if a conference has a code of conduct. You can also find out the nearest airports, hotels, restaurants and more so you can plan your trip to a new city if you're traveling out of town. Also, if any conferences are hosting any type of activity you can see that as well, we have activities separated into Drinking and Non-Drinking so you can be sure that the activity fits what is best for you.



