<section class="profile">
  <div class="container">
    <h1>Resources for Organizers</h1>
    <p>Whether you've put a dozen conferences, or just want to get your feet wet and organize your first conference, we've got resources to make sure your conference goes smooth, and is safe and inclusive</p>
    <h2>Why is Diversity Important?</h2>
    <p>Creating a diverse tech conference is not only a good idea because some people think the tech community should be more diverse, it's a good idea because diversity brings about: new ideas, new view points, different life experiences, and creates more dynamic change and growth. We want our community to be diverse, because the world is diverse, and our goal is to connect with those around the world. We can start creating a more diverse tech community by making sure that we have a more diverse group of people at our conferences. Having a more diverse group of people at our conferences means that we will start seeing others speaking, organizing, and attending conferences, meaning those who might not have had themselves represented can start seeing themselves in the tech community. </p>

    <h2>Creating a More Diverse Conference</h2>
    <p>There are more factors than just having a certain percentage of marginialized people attend, or speak at your conference that makes for having a diverse conference. Having a diverse conference goes hand in hand with creating a safe, and inclusive space</p>

    <h2>Resources for Creating a Diverse Conference</h2>
    <a href="http://continuousdelivery.com/2013/09/how-we-got-40-female-speakers-at-flowcon/">How to Create a More Diverse Tech Conference</a>
    <br>
    <a href="http://www.swirlspice.com/5834/how-to-ensure-a-diverse-tech-event/">How to Ensure a Diverse Tech Event</a>
    <br>
    <a href="http://geekfeminism.wikia.com/wiki/Finding_women">Finding Women</a>
    <br>
    <a href="http://www.orangecone.com/archives/2006/07/attracting_wome.html">Attracting Women to Tech Conferences</a> by <a href="http://orangecone.com">Mike Kuniavsky</a>
    <br>
    <a href="http://geekfeminism.org/2009/08/11/ten-tips-for-getting-more-women-speaker/">10 Tips for Getting More Women Speakers</a>
    <br>
    <a href="http://geekfeminism.org/2012/05/21/how-i-got-50-women-speakers-at-my-tech-conference/">How I Got 50% Women Speakers at My Tech Conference</a> by <a href="http://superopinionated.com/">Courtney Stanton</a>
    <br>
    <a href="http://mattgemmell.com/2011/12/15/women-conference-speakers/">Women Conference Speakers</a> by <a href="http://mattgemmell.com">Matt Gemmell</a>
    <br>
    <a href="https://docs.google.com/document/d/1EfIECpv1qbLmzpkO-qoaYVee4WVIq4uUilcmfnJZkfc/edit">IT Women</a> by <a href="http://www.catherinechronin.wordpress.com">Catherine Chronin</a>
    <br>
    <a href="http://2012.jsconf.eu/2012/06/19/call-for-presentations.html">Call for Presentions</a> by <a href="http://jsconf.eu">JS Conf</a>
    <br>
    <a href="http://2013.nordicruby.org/blog/2-speak-at-nordic-ruby">Call for Proposals</a> by <a href="http://nordicruby.org">Nordic Ruby</a>
    <br>
    <a href="http://2012.jsconf.eu/2012/09/17/beating-the-odds-how-we-got-25-percent-women-speakers.html">Beating the Odds: How We Got 25% Women Speakers for JSConf EU 2012</a>
    <br>
    <a href="http://ashedryden.com/blog/help-more-people-attend-your-conference">Help People Afford Your Conference</a> by <a href="http://ashedryden.com">Ashe Dryden</a>
    <br>
    <a href="http://devblog.avdi.org/2012/11/19/on-britruby/">On BritRuby</a> by <a href="http://devblog.avid.org">Avdi Grimm</a>
    <br>
    <a href="http://blog.whiteoctober.co.uk/2013/09/12/our-approach-to-gender-diversity/">Our Approach to Gender Diversity</a> by <a href="http://blog.whiteoctober.co.uk/author/jwards/">John Wards</a>
    <br>
    <h2>Resources for Creating a Safe Conference</h2>
    <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">Conference Anti-Harassment Policy</a>
    <br>
    <a href="http://geekfeminism.wikia.com/wiki/Promotion_to_women">Promotion to Women</a>
    <br>
    <a href="http://geekfeminism.wikia.com/wiki/Women-friendly_events">Women Friendly Events</a>
    <br>
    <a href="http://geekfeminism.wikia.com/wiki/Event_Guidelines">Event Guidelines</a>
    <br>
    <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Actions">Actions For After You Write your Code of Conduct</a>
    <br>
    <a href="http://geekfeminism.wikia.com/wiki/Why_anti-harassment_policies_should_be_public">Why Anti-Harassment Policy's Should be Public and Specific</a>
    <br>
    <a href="http://www.cahp.girl-wonder.org/">Con Anti-Harassment Project</a>
    <br>
    <a href="http://www.cusid.ca/documents/official-documents/cusid-code-of-conduct-by-law/">CUSID Code of Conduct</a>
    <br>
    <a href="http://geekfeminism.org/2009/10/11/conference-recordings-and-harassment/">Conference Recording & Harassment</a>
    <br>
    <a href="http://www.dreamwidth.org/legal/diversity">Diversity Statement</a> by <a href="http://www.dreamwidth.org">Dreamwidth</a>
    <br>
    <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Responding_to_reports">Responding to Reports</a>
    <br>
    <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Duty_officer">Duty Officer Information</a>
    <h2>Other Reading About Diversity & Inclusivity</h2>
    <a href="http://pyfound.blogspot.com/2012/12/psf-moves-to-require-code-of-conduct.html">PSF Requires Code of Conduct for Conference Grants</a>
    <br>
    <a href="http://adainitiative.org/2013/01/how-you-can-help-banboothbabes-at-ces/">Ban Booth Babes</a> by <a href="http://adainitiative.org">Ada Initiative</a>
    <br>
    <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Adoption">Conferences That Have Code of Conducts/Anti-Harassment Policies</a>
    <br>
    <a href="http://theangryblackwoman.com/2010/05/11/linkspam-why-didnt-you-call-the-police-part-one/<D-">Why Didn't You Call the Police?</a> by <a href="http://theangryblackwoman.com">The Angry Black Woman</a>
    <br>
    <a href="http://www.rainn.org/get-information/statistics/reporting-rates">Reporting Rates & False Report Statistics</a>
    <br>
    <a href="http://geekfeminism.wikia.com/wiki/Percentage_of_women_speakers_at_technical_conferences">Percentage of Women at Technical Conferences</a>
    <br>
    <a href="http://geekfeminism.wikia.com/wiki/Sexualized_environment">Sexualized Environments</a>
    <br>
    <a href="http://geekfeminism.wikia.com/wiki/Sexualized_presentations">Sexualized Presentations</a>
    <br>
    <a href="http://geekfeminism.wikia.com/wiki/Social_expectations">Social Expectations</a>
    <br>
    <a href="http://geekfeminism.wikia.com/wiki/List_of_women_keynote_presenters_at_technical_conferences">Women KeyNote Speakers</a>
    <br>

    </div>
</section>
