  <div id="places">
    <div id="conference" class="place-title">Conference</div>
    <div id="airport" class="place-title">Airports</div>
    <div id="atm" class="place-title">ATM</div>
    <div id="car_rental" class="place-title">Car Rental</div>
    <div id="grocery_or_supermarket" class="place-title">Groceries/Supermarket</div>
    <div id="food" class="place-title">Food</div>
    <div id="restaurant" class="place-title">Restaurant</div>
    <div id="subway_station" class="place-title">Subway Station</div>
    <div id="train_station" class="place-title">Train Station</div>
  </div>
  <div id="map-canvas"></div>

  <div class="clear"></div>
