<div class="row">
  <div class="column one-third">
    <div id="places">
      <div id="airport" class="place-title"><strong>Airports:</strong></div>
      <div id="atm" class="place-title"><strong>ATM:</strong></div>
      <div id="car_rental" class="place-title"><strong>Car Rental</strong></div>
      <div id="grocery_or_supermarket" class="place-title"><strong>Groceries/Supermarket</strong></div>
      <div id="food" class="place-title"><strong>Food</strong></div>
      <div id="restaurant" class="place-title"><strong>Restaurant</strong></div>
      <div id="subway_station" class="place-title"><strong>Subway Station</strong></div>
      <div id="train_station" class="place-title"><strong>Train Station</strong></div>
    </div>
  </div>
  <div class="column two-third">
    <div id="map-canvas"></div>
  </div>

  <div class="clear"></div>
</div>
