<div class="row">
  <div class="column one-third">
    <div id="places">
      <ul class="list">
        <li id="airport" class="place-title"><strong>Airports:</strong></li>

      <li id="airport" class="place-title"><strong>Airports:</strong></li>
      <li id="atm" class="place-title"><strong>ATM:</strong></li>
      <li id="car_rental" class="place-title"><strong>Car Rental</strong></li>
      <li id="grocery_or_supermarket" class="place-title"><strong>Groceries/Supermarket</strong></li>
      <li id="food" class="place-title"><strong>Food</strong></li>
      <li id="restaurant" class="place-title"><strong>Restaurant</strong></li>
      <li id="subway_station" class="place-title"><strong>Subway Station</strong></li>
      <li id="train_station" class="place-title"><strong>Train Station</strong></li>
    </ul>
    </div>
  </div>
  <div class="column two-third">
    <div id="map-canvas"></div>
  </div>

  <div class="clear"></div>
</div>
