<section class="choices">
	<div class="container">
		<h1>Who are you?</h1>
		<div class="row">
			<div class="column one-third">
				<div class="choice-badge">
					<%= image_tag "speaker.png" %>
				</div>
			</div>
			<div class="column one-third">
				<div class="choice-badge">
					<%= image_tag "attendee.png" %>
				</div>
			</div>
			<div class="column one-third">
				<div class="choice-badge">
					<%= image_tag "host.png" %>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="attendee">
	<div class="container">
		<h1>you're an attendee</h1>
	</div>
</section>
<section class="speaker">
	<div class="container">
		<h1>you're a speaker</h1>
	</div>
</section>
<section class="host">
	<div class="container">
		<h1>you're a host</h1>
	</div>
</section>
<section class="resources">
	<div class="container">
		<h1>conference resources</h1>
	</div>
</section>
<section class="badges">
	<div class="container">
		<h1>directory of badges</h1>
			<div class="row">
				<div class="column one-third">
				</div>
				<div class="column one-third">
				</div>
				<div class="column one-third">
				</div>
			</div>
			<div class="row">
				<div class="column one-third">
				</div>
				<div class="column one-third">
				</div>
				<div class="column one-third">
				</div>
			</div>
			<div class="row">
				<div class="column one-third">
				</div>
				<div class="column one-third">
				</div>
				<div class="column one-third">
				</div>
			</div>
	</div>
</section>
<footer>

</footer>