<section class="choices">
	<div class="container">
		<h1>Who are you?</h1>
		<div class="row">
			<div class="column one-third">
				<div class="choice-badge">
					<%= image_tag "speaker.png" %>
					<h2>Speaker</h2>
				</div>
			</div>
			<div class="column one-third">
				<div class="choice-badge">
					<%= image_tag "attendee.png" %>
					<h2>Attendee</h2>
				</div>
			</div>
			<div class="column one-third">
				<div class="choice-badge">
					<%= image_tag "host.png" %>
					<h2>Host</h2>
				</div>
			</div>
		</div>
	</div>
</section>