<section class="speaker">
		<div class="row">
			<div class="column one-third">
				<div class="choice-badge">
					<%= image_tag "speaker.png" %>
				</div>
			</div>
			<div class="column two-third">
				<h1>Speaker</h1>
				<p>Here is some information about speaking at conferences.</p>
				<p>Here is some additional copy or whatever.</p>
				<a href="#">Find Out More</a>
			</div>
		</div>
	</section>

<section class="attendee">
		<div class="row">
			<div class="column one-third">
				<div class="choice-badge">
					<%= image_tag "attendee.png" %>
				</div>
			</div>
			<div class="column two-third">
				<h1>Attendee</h1>
				<p>Here is some information about speaking at conferences.</p>
				<p>Here is some additional copy or whatever.</p>
				<a href="#">Find Out More</a>
			</div>
		</div>
	</section>

<section class="host">
		<div class="row">
			<div class="column one-third">
				<div class="choice-badge">
					<%= image_tag "host.png" %>
				</div>
			</div>
			<div class="column two-third">
				<h1>Host</h1>
				<p>Here is some information about speaking at conferences.</p>
				<p>Here is some additional copy or whatever.</p>
				<a href="#">Find Out More</a>
			</div>
		</div>
	</section>
