<header>
  <%= image_tag "flock.png" %>
</header>
<h1>Making gathering easier.</h1>
<section class="choices">
	<div class="container">
	</div>
</section>
<section class="attendee">
	<div class="container">
	</div>
</section>
<section class="speaker">
	<div class="container">
	</div>
</section>
<section class="host">
	<div class="container">
	</div>
</section>
<section class="resources">
	<div class="container">
	</div>
</section>
<section class="badges">
	<div class="container">
	</div>
</section>
<footer>

</footer>