* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -chrome-box-sizing: border-box;
}

body {
  color: #333;
  font-size: 16px;
  margin:0;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 80%;
}

.row {
  margin: 0 auto;
}

.column {
  display:inline-block;
  margin: 0 7% 5em 0;
  padding:4em 0;
  h1 {
  margin-bottom:.7em;
  }
  img {
    width:70%;
    margin: 0 auto;
  }
  @media screen and (max-width: 460px) {
    margin-bottom:1em;
    padding:0;
  }
}

.column:last-child {
  margin-right: 0;
}

.one-third {
  width: 28%;
  text-align:center;
  @media screen and (max-width: 760px) {
    display: block;
    width: 97%;
    margin:0 0 1em 0;
    padding:0;
  }
}

.beefy {
  img {
  width:100%;
  }
}

.two-third {
  margin: 0;
  padding:0;
  width: 60%;
  @media screen and (max-width: 863px) {
    display:block;
    margin: 0;
    padding: 0;
    width:97%;
  }
}

.one-half {
  width: 50%;
  margin: 0;
  padding: 0;
  float: left;
}

footer {
  background-color:$black;
  color:$white;
  a, a:visited {
  color:#f0b094;
  text-decoration:none;
  @include color-transition;
  }
  a:hover, a:focus, a:active {
    color:#eb7080;
    @include color-transition;
  }
  p {
    color:$truewhite;
    font-size:16px;
  }
  .column {
    margin-bottom:0;
  }
}
