@import 'mixins';
@import 'frame';

// Hack, hack, hack, hack, hackity hack. Never let ruby developers touch yo' CSS
#main
{
  padding-top: 64px;
}

#navbar {
  background:rgba(240, 176, 148, 1);
  width:100%;
  position: fixed;
  margin:0;
  padding:.4em 0;
  z-index:1000;
  h1 {
    font-size:.85em;
    text-transform: uppercase;
    font-style: normal;
    color:$truewhite;
    position:relative;
    top:15px;
    display:inline;
    padding:0;
    vertical-align: middle;
    @include sans-stronger;
    letter-spacing: 3px;
  }
  a, a:visited, a:focus, a:hover {
    color:$truewhite;
    text-decoration: none;
  }
}

.navigation-links {
  color:$truewhite;
  float:right;
}

ul {
  vertical-align: middle;
}

li {
  display:inline;
  margin-right:.3em;
  list-style-type: none;
  @include sans-serif;
}
