@import 'mixins';
@import 'frame';

#navbar {
  background:rgba(240, 176, 148, 1);
  width:100%;
  position:fixed;
  margin:0;
  h1 {
    font-size:.85em;
    text-transform: uppercase;
    font-style: normal;
    color:$truewhite;
    position:relative;
    top:15px;
    display:inline;
    padding:0;
    vertical-align: middle;
    @include sans-stronger;
    letter-spacing: 3px;
  }
}

.circle {
  background:rgba(240, 176, 148, 1);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position:relative;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
}

.logo-image {
  position:relative;
  width:110px;
  top:29px;
  img {
    width:100%;
  }
}

.navigation-links {
  color:$truewhite;
  float:right;
}

ul {
  vertical-align: middle;
}

li {
  display:inline;
  margin-right:.3em;
  list-style-type: none;
  @include sans-serif;
}
