@mixin rounded {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

@mixin bg-transition {
  -webkit-transition:background-color .2s ease-in-out; 
  -moz-transition:background-color .2s ease-in-out; 
  transition:background-color .2s ease-in-out; 
}

@mixin color-transition {
  -webkit-transition:color .2s ease-in-out;
  -moz-transition:color .2s ease-in-out; 
  transition:color .2s ease-in-out; 
}

@mixin opacity {
  -webkit-transition:opacity .2s ease-in-out;
  -moz-transition:opacity .2s ease-in-out; 
  transition:opacity .2s ease-in-out; 
}

@mixin box-shadow {
  box-shadow: 1px 1px 3px rgba(238, 238, 238, .5);
  -moz-box-shadow: 1px 1px 3px rgba(238, 238, 238, .5);
  -webkit-box-shadow: 1px 1px 3px rgba(238, 238, 238, .5);
}

@mixin big-background {
  background-repeat: no-repeat;
  background-size: cover;
  -chrome-background-size: cover;
  -moz-background-size: cover;
  background-position: left bottom;
}

@mixin serif {
  font-family: "Arvo", "Times New Roman", serif;
  font-weight: 400;
}

@mixin serif-stronger {
  font-family: "Arvo", "Times New Roman", serif;
  font-weight: 700;
}

@mixin serif-emphasis {
  font-family: "Arvo", "Times New Roman", serif;
  font-weight: 400;
  font-style: italic;
}

@mixin sans-serif {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight: 300;
}

@mixin sans-stronger {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight: 700;
}

@mixin sans-emphasis {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight: 400;
  font-style: italic;
}


/*=================================================== G E N E R A L
=================================================================*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -chrome-box-sizing: border-box;
}

body {
  background:url('/app/assets/images/bg.jpg');
  color: #333;
  font-size: 16px;
  @include big-background;
}

logo {
  width:400px;
  margin: 5em auto;
}

.row {
  margin: 0 auto;
  clear:both;
}

.column {
  float: left;
  margin: 0 7% 1.2em 0;
}

.column:last-child {
  margin-right: 0;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 80%;
}

.one-third {
  width: 28%;
  text-align: justify; 
  @media screen and (max-width: 760px) {
      display: block;
      width: 97%;
    }
}

.two-third {
  margin-right: 0;
  padding-left: 6em;
  width: 65%;
  @media screen and (max-width: 863px) {
    display:block;
    margin: 0;
    padding: 0;
    width:97%;
  }
}

.one-half {
  width: 50%;
  margin: 0;
  padding: 0;
  float: left;
}

h1 {
  @include serif;
}

/*===================================================== H E A D E R
=================================================================*/

header {

}

#navbar {
}