@mixin rounded {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

@mixin bg-transition {
  -webkit-transition:background-color .2s ease-in-out; 
  -moz-transition:background-color .2s ease-in-out; 
  transition:background-color .2s ease-in-out; 
}

@mixin color-transition {
  -webkit-transition:color .2s ease-in-out;
  -moz-transition:color .2s ease-in-out; 
  transition:color .2s ease-in-out; 
}

@mixin opacity {
  -webkit-transition:opacity .2s ease-in-out;
  -moz-transition:opacity .2s ease-in-out; 
  transition:opacity .2s ease-in-out; 
}

@mixin box-shadow {
  box-shadow: 1px 1px 3px rgba(238, 238, 238, .5);
  -moz-box-shadow: 1px 1px 3px rgba(238, 238, 238, .5);
  -webkit-box-shadow: 1px 1px 3px rgba(238, 238, 238, .5);
}

@mixin big-background {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
}

@mixin serif {
  font-family: "Arvo", "Times New Roman", serif;
  font-weight: 400;
}

@mixin serif-stronger {
  font-family: "Arvo", "Times New Roman", serif;
  font-weight: 700;
}

@mixin sans-serif {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight: 300;
}

@mixin sans-stronger {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight: 700;
}

@mixin sans-emphasis {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight: 300;
  font-style: italic;
}
$truewhite:#fff;
$white:#e8e8e8;
$black:#333;
$lightgrey:#d8d8d8;
$medgrey:#838383;
$green:#2ecc71;
$darkgreen:#27ae60;
$red:#e74c3c;
$darkred:#c0392b;

/*=================================================== G E N E R A L
=================================================================*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -chrome-box-sizing: border-box;
}

.welcome {
  background-color:#333;
}

body {
  color: #333;
  font-size: 16px;
}

.logo {
  width:200px;
  margin: 0 auto;
  padding-top:6em;
  margin-bottom:2em;
  img {
    width:100%;
  }
}

.row {
  margin: 0 auto;
  clear:both;
}

.column {
  float: left;
  margin: 0 7% 1.2em 0;
}

.column:last-child {
  margin-right: 0;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 80%;
}

.one-third {
  width: 28%;
  text-align: justify; 
  @media screen and (max-width: 760px) {
      display: block;
      width: 97%;
    }
}

.two-third {
  margin-right: 0;
  padding-left: 6em;
  width: 65%;
  @media screen and (max-width: 863px) {
    display:block;
    margin: 0;
    padding: 0;
    width:97%;
  }
}

.one-half {
  width: 50%;
  margin: 0;
  padding: 0;
  float: left;
}

h1 {
  color:$white;
  font-size:1em;
  letter-spacing:3px; 
  text-align:center;
  @include sans-emphasis;
  text-transform: uppercase;
}

header {

}

/*============================================= N A V I G A T I O N
=================================================================*/

#navbar {
  background:rgba(240, 176, 148, 1);
  width:100%;
  h1 {
    @include sans-stronger;
    text-transform: none;
    font-size:.85em;
    float:left;
    color:$truewhite;
  }
}

.circle {
  background:rgba(240, 176, 148, 1);
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.navigation-links {
  color:$truewhite;
  float:right;
}

ul {
  @include serif-stronger;
}

li {
  display:inline;
  margin-right:.3em;
  list-style-type: none;
}

/*===================================================== T A B L E S
=================================================================*/

.calendar-icon {
  width:40px;
  height:40px;
  margin:0 auto;
  border:3px solid #eb7080;
  border-top:12px solid #eb7080;
  @include rounded;
  background-color:$truewhite;
}

.day-double {
  position:relative;
  top:-9px;
  left:-19px;
  color:$black;
}

.day-single {
  position:relative;
  top:-9px;
  left: -14px;
}

.pushpin {
  width:30px;
  height:30px;
  float:right;
  vertical-align: middle;
  margin-right:1em;
  img {
    width:100%;
  }
}

.schedule h2 {
  margin: 0;
  padding:0;
  margin-left:1em;
  margin-top:.3em;
  float:left;
  @include serif;
  color:#555;
}

table {
  background:rgba(255,255,255,1);
}

table h3 {
  margin-bottom: 0.2em;
  @include serif;
}

table p {
  color: $medgrey;
  margin:0;
  @include sans-emphasis;
}

table hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1em 0;
  height: 0;
} 

table.schedule {
  margin:0;
  padding:0;
  width: 100%;
}

table.schedule:last-child {
  margin-bottom: 0;
}

table.schedule thead {
  background: $lightgrey;
  color: $black;
}

table.schedule th {
  padding: 1em 0;

}

thead h3 {
  color: #fff;
}

table tbody tr th.date {
  background:rgba(255,255,255,0);
  color: $black;
  font-weight: normal;
  padding: 1em;
  width: 8%;
  border-right: 1px solid $lightgrey;
}

table.schedule h3 {
  color: $black;
  @include serif;
  margin:0;
}

table.schedule tbody tr {
  border: 1px solid #ddd;
}

tr:nth-of-type(2){
  background:#f2f2f2;
}

table.schedule td {
  padding-left:1em;
}

.label {
  background: #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 0.9em;
  margin-left: 0.5em;
  padding: 0.2em 0.5em;
  white-space: nowrap;
}

/*======================================================= F O R M S
=================================================================*/

input {
  @include rounded;
}