@import 'mixins';
@import 'navigation';
@import 'frame';

.welcome-header {
	@include sans-serif;
	color:$truewhite;
	text-align:center;
}

header {
	background: image-url('bg.jpg');
	@include big-background;
	margin-bottom:10em;
	padding:4em 0;
	h1 {
		font-size:1.333em;
	}
}

h1 {
	@include serif;
	font-size:3.173em;
	text-align:center;
	margin-bottom:1;
}