<% if user_signed_in? && @speaker == current_user.speaker %>
  <h1>Edit Speaker Profile</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @speaker %> |
  <%= link_to 'Back', speakers_path %>
<% else %>
  <p>You can't do that</p>
<% end %>

