<section class="profile">
  <div class="container">
    <h1>Resources for Speakers</h1>
<p>Speaking at conferences can be a very rewarding experience, but it can be kind of intimidating or scary. </p>
<p>We've compiled a list of great resources that should help you get started and on your way to speaking at conferences</p>



<h2>General Advice for New Speakers</h2>
<a href="http://ashedryden.com/blog/what-you-need-to-know-about-speaking-at-conferences">What You Need to Know About Speaking at Conferences</a> by <a href="http://www.ashedryden.com">Ashe Dryden</a>
<br>
<a href="http://www.nczonline.net/blog/2013/01/10/advice-for-new-and-aspiring-technical-speakers/">Advice for New and Aspiring Technical Speakers</a> by <a href="http://www.nczonline.net/">Nicholas C. Zakas</a>
<br>
<a href="http://jenmyers.net/confessions-of-a-semi-amateur-speaker.html">Confessions of a Semi-Amateur Speaker</a> by <a href="http://jenmyers.net">Jen Myers</a>
<br>
<a href="http://julieannhorvath.com/2012/11/03/becoming-a-speaker.html">On Motivation: Becoming a Speaker</a> by <a href="http://julieannhorvath.com">Julie Ann Horvath</a>
<br>
<a href="http://neil-gaiman.tumblr.com/post/41653204206/6-tips-for-speaking-in-public">Six Tips for Speaking in Public</a> by <a href="http://neil-gaiman.tumblr.com">Neil Gaiman</a>
<br>
<a href="http://rubyrogues.com/064-rr-presenting-at-conferences/">Presenting at Conferences</a> on the <a href="http://rubyrogues.com">Ruby Rogues Podcast</a>
<br>
<a href="https://docs.google.com/document/d/1PMhJJP7IQYiFtqxnS_h1EHPo1fBGoddcWLXaMaxx3Yc/edit">Speaker Notes</a> by <a href="http://www.devchix.com">DevChix</a>




<h2>Writing a Proposal</h2>
<a href="http://blowmage.com/2013/01/24/writing-conf-proposals">Writing Conference Proposals</a> by <a href="http://blowmage.com/">Mike Moore</a>
<br>
<a href="http://benramsey.com/blog/2012/11/writing-an-effective-talk-proposal/">Writing an Effective Talk Proposal</a> by <a href="http://benramsey.com/">Ben Ramsey</a>

<h2>Putting on a Great Presentation</h2>
<a href="http://gazit.me/2012/12/05/designing-presentations.html">Designing Presentations</a> by <a href="http://gazit.me">Idan Gazit</a>
<br>
<a href="http://blog.josephwilk.net/presentations/a-developers-guide-to-creating-presentations.html">A Developers Guide to Creating Presentations</a> by <a href="http://blog.josephwilk.net">Joseph Wilk</a>
<br>
<a href="http://www.techwell.com/2012/09/creating-engaging-presentation">Creating an Engaging Presentation</a> by <a href="http://www.techwell.com/users/rick-scott">Rick Scott</a>
<br>
<a href="http://toobigtotweet.tumblr.com/post/15575457908/suggestions-for-writing-a-good-conference-presentation">Suggestions for Writing a Good Conference Presentation</a> by <a href="http://toobigtotweet.tumblr.com">Adam Connor</a>
<br>
<a href="http://www.ted.com/talks/nancy_duarte_the_secret_structure_of_great_talks.html">The Secret Structure of Great Talks</a> by <a href="http://www.duarte.com/">Nancy Duarte</a>

<h2>Other Useful Speaking Resources</h2>
<a href="http://weareallaweso.me/">We Are All Awesome</a>
<br>
<a href="http://www.speakinghacks.com/">Speaking Hacks</a>

