<!DOCTYPE html>
<html>
<head>
  <title>flock | making gathering easier.</title>
  <%= stylesheet_link_tag    "welcome", media: "all" %>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body class="welcome">
	<section class="container">
		<div class="logo">
		  <%= image_tag "flock.png" %>
		</div>
		<h1>Making gathering easier.</h1>
	</section>
</body>
</html>